@inject NavigationManager NavigationManager

<nav>
    <a class="logo" href="/">
        <img src="favicon.png" alt="Logo">
    </a>

    <AuthorizeView>
        <Authorized>
            <a class="logout" href="/Account/Logout">Logout</a>
        </Authorized>
        <NotAuthorized>
            <a class="login" href="/Account/Login?returnUrl=@NavigationManager.Uri">Login</a>
        </NotAuthorized>
    </AuthorizeView>
</nav>