@inject NavigationManager NavigationManager

<nav>
    <a href="/"><img src="favicon.png" alt="Logo"></a>
        
    <AuthorizeView>
        <Authorized>
            <a class="logout" href="/Account/Logout">Logout</a>
        </Authorized>
        <NotAuthorized>
            <a class="login" href="/Account/Login?ReturnUrl=/@NavigationManager.ToBaseRelativePath(NavigationManager.Uri)">Login</a>
        </NotAuthorized>
    </AuthorizeView>
</nav>