@page "/failSignin"

<Container>
    <h1>Unable to sign in</h1>
    <p>You are unable to sign in because your domain is not in the whitelist</p>
    <p>Please contact system administrator</p>
    <Button Type="ButtonType.Link" Color="Color.Primary" To="/">Go back</Button>
</Container>
