@page "/request/{linkId:guid}/{responderEmail}"
@using Dipl.Web.Models
@using Dipl.Web.Services

@inject FileManagerService FileManagerService

@rendermode InteractiveServer

<Validations @ref="_validations" ValidateOnLoad="false">
    <Field>
        <FieldLabel>Message for user</FieldLabel>
        <FieldBody>
            <MemoEdit Rows="5" @bind-Text="@_model.Message" Placeholder="Message for user..."></MemoEdit>
        </FieldBody>
    </Field>

    <Field>
        <FieldLabel>Upload files here</FieldLabel>
        <FieldBody>
            <Dipl.Web.Components.FilePicker @bind-Value="_model.FilesToUpload"/>
        </FieldBody>
    </Field>

    <Button Width="Width.Is100" Color="Color.Primary" Type="ButtonType.Submit" Clicked="Submit">Submit</Button>
</Validations>


@code {

    [Parameter]
    public Guid LinkId { get; set; }

    [Parameter]
    public string ResponderEmail { get; set; } = null!;

    private Validations _validations = null!;
    private readonly RequestLinkResponseModel _model = new();

    protected override void OnParametersSet()
    {
        _model.LinkId = LinkId;
        _model.ResponderEmail = ResponderEmail;
    }

    private async Task Submit()
    {
        if (!await _validations.ValidateAll())
            return;

        await FileManagerService.RespondToFileRequest(_model);
    }

}